<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img src="/img/logo.svg" class="logo" alt="">
            <h3 class="text-center">Account Login</h3>
            <form action="/users/login" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" required>
                    {{!-- I have to server side validation --}}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a class='btn btn-success float-right' href="/users/register">I don't have account</a>
            </form>
        </div>
    </div>
</div>